.error
  border: solid 2px red

.errorText
  color: red

.selectButton
  background: aquamarine

.todolist
  background: #8fab5b
  padding: 10px 10px 20px
  min-height: 220px

h3
  text-align: center
  color: white

.filterButtons
  display: flex
  justify-content: center
